* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 20px;
}

.head-class {
	background: url(back-wallpaper.jpg) 100% 100% no-repeat;
	background-size: cover;
    opacity: 0.7;
}

#head {
	font-size: 50px;
	color: White;
	letter-spacing: 3px;
	padding-top: 65px;
	padding-bottom: 75px;
	padding-left: 50px;

}

.mainpart {
	padding-bottom: 20px;
	margin-right: 116px;
	padding-left: 15px;
	padding-right: 20px;
	float: left;
	background: url(wall.jpg) no-repeat;
	background-size: cover;
}

.mainpart p {
	padding: 10px 5px 10px 10px;
	background-color: white;
	border-radius: 15px;
}

.mainpart h2 {
	padding-left: 30px;
}


.right-panel {
	padding-left: 30px;
	padding-right: 30px;
	position: fixed;
	float: right;
	right: 0px;
	top: 0px;
	height: 100vh;
	background-color: rgba(127, 210, 2545, 0.6);
}

#first-item {
	margin-top: 210px;
}

.right-panel li{
	list-style: none;
	padding-bottom: 8px;
}

.right-panel li:before {
	content: "-";
}

.right-panel li a{
	color: Black;
	text-decoration: none;
}

.text-bottom {
	float: left;
}